.header{
    height: 77px;
	margin-bottom: 46px;
}

.logo, .menu, .menu__item, .contacts{
	display: inline-block;
}

.logo, .contacts {
	margin-top: 29px;
	float: left;
}

.contacts {
	float: right;
}

.menu {
	margin-left: 79px;
	margin-top: 43px;
}

.menu__item {
	margin-right: 54px;
    font-weight: normal;
}

.menu__item:last-child {
	margin-right: 0px;
}

.contacts__phone {
	font-size: 26px;
	line-height: 30px;
	color: #fff;
	font-style: normal; 
}

.contacts__info {
	font-size: 14px;
    line-height: 20px;
    text-decoration-line: underline;
    font-style: normal;
    text-align: end;
}


.logo {
	height: 36px;
	width: 85px;
	left: 0px;
	top: 29px;
	border-radius: 0px;
	background: #000;
}
